@using Nevara.ApplicationCore.Extensions
@model AppUserViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Breadcrumb Start -->
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="main-breadcrumb mb-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="breadcrumb-content text-center ptb-70">
                    <ul class="breadcrumb-list breadcrumb">
                        <li><a href="#">home</a></li>
                        <li><a href="#">account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Page Breadcrumb End -->
<!-- My Account Page Start Here -->
<div class="my-account white-bg pb-100">
    <div class="container">
        <div class="account-dashboard">
            <div class="dashboard-upper-info">
                <div class="row no-gutters align-items-center">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="d-single-info">
                            <p class="user-name">Hello <span>@User.GetClaim("FullName")</span></p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="d-single-info">
                            <p>Need Assistance? Customer service at.</p>
                            <p>admin@example.com.</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="d-single-info">
                            <p>E-mail them at </p>
                            <p>support@example.com</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6">
                        <div class="d-single-info text-center">
                            <a class="view-cart" href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"></i>view cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <!-- Nav tabs -->
                    <ul class="nav flex-column dashboard-list" role="tablist">                        
                        <li><a data-toggle="tab" href="#orders">Orders</a></li>
                        <li><a data-toggle="tab" href="#downloads">Change password</a></li>

                        <li><a data-toggle="tab" href="#account-details">Account details</a></li>                        
                    </ul>
                </div>
                <div class="col-lg-10 col-md-10">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard-content mt-all-40">
                        <div id="orders" class="tab-pane fade">
                            <h3>Orders</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>May 10, 2018</td>
                                            <td>Processing</td>
                                            <td>$25.00 for 1 item </td>
                                            <td><a class="view" href="cart.html">view</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>May 10, 2018</td>
                                            <td>Processing</td>
                                            <td>$17.00 for 1 item </td>
                                            <td><a class="view" href="cart.html">view</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="downloads" class="tab-pane fade">
                            <h3>Password</h3>
                            <div class="register-form login-form clearfix">
                                <form action="#">
                                    <div class="form-group row">
                                        <label for="inputpassword" class="col-lg-3 col-md-4 col-form-label">Current password</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input type="password" class="form-control" id="inputpassword">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="newpassword" class="col-lg-3 col-md-4 col-form-label">New password</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input type="password" class="form-control" id="newpassword">
                                            <button class="btn show-btn" type="button">Show</button>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="v-password" class="col-lg-3 col-md-4 col-form-label">Confirm password</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input type="password" class="form-control" id="c-password">
                                            <button class="btn show-btn" type="button">Show</button>
                                        </div>
                                    </div>
                                    <div class="register-box mt-40">
                                        <button type="submit" class="return-customer-btn f-right">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="account-details" class="tab-pane fade in active">
                            <h3>Account details </h3>
                            <div class="register-form login-form clearfix">
                                <form asp-action="profile" asp-controller="account">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group row">
                                        <label asp-for="FullName" class="col-lg-3 col-md-4 col-form-label">Full Name</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input asp-for="FullName" type="text" class="form-control" id="f-name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Email" class="col-lg-3 col-md-4 col-form-label">Email address</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input asp-for="Email" type="text" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Address" class="col-lg-3 col-md-4 col-form-label">Address</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input asp-for="Address" type="text" class="form-control" id="birth" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Phone" class="col-lg-3 col-md-4 col-form-label">Phone</label>
                                        <div class="col-lg-6 col-md-8">
                                            <input asp-for="Phone" type="text" class="form-control" id="birth" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="register-box mt-40">
                                        <button type="submit" class="return-customer-btn f-right">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

