@using Nevara.ViewModel
@model Nevara.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}
<div class="wrapper">
    <div class="main-breadcrumb mb-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="breadcrumb-content text-center ptb-70">
                        <ul class="breadcrumb-list breadcrumb">
                            <li><a href="#">home</a></li>
                            <li><a href="#">account</a></li>
                            <li><a href="#">register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Page Breadcrumb End -->
    <!-- Register Account Start -->
    <div class="register-account">
        <div class="container">
            <div class="row">
                <div class="register-title">
                    <h3 class="mb-10">REGISTER ACCOUNT</h3>
                    <p class="mb-10">If you already have an account with us, please login at the login page.</p>
                </div>
            </div>
            <!-- Row End -->
            <div class="row">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal pb-100">
                    <fieldset>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <legend>Your Personal Details</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="f-name">Full Name</label>
                            <div class="col-sm-5">
                                <input name="fullName" asp-for="FullName" type="text" class="form-control" id="f-name" placeholder="Full Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="l-name">Email</label>
                            <div class="col-sm-5">
                                <input name="email" type="text" asp-for="Email" class="form-control" id="l-name" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="l-name">Address</label>
                            <div class="col-sm-5">
                                <input name="address" type="text" asp-for="Address" class="form-control" id="l-name" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Phone</label>
                            <div class="col-sm-5">
                                <input name="PhoneNumber" type="text" asp-for="PhoneNumber" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="number">BirthDay</label>
                            <div class="col-sm-5">
                                <input name="BirthDate" type="date" asp-for="BirthDate" class="form-control" id="number" placeholder="date">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Your Password</legend>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-5">
                                <input name="password" asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd-confirm">Confirm Password</label>
                            <div class="col-sm-5">
                                <input name="Confirm" asp-for="Confirm" type="password" class="form-control" id="pwd-confirm" placeholder="Confirm password">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-5">
                                <recaptcha />
                                <span class="text-danger" id="recaptchaErrorMessage"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="buttons newsletter-input">
                        <div class="pull-right">
                            <input type="submit" value="Register" class="newsletter-btn">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    
    <!-- Footer End -->
    <!-- Quick View Content Start -->
    <!-- Quick View Content End -->
</div>



