<div id="modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add New Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form  id="formProduct" method="POST" role="form" novalidate="">
                <div class="modal-body">
                    <div class="form-group row">
                        <input type="hidden" id="hiddenId" value="0" />
                        <label class="col-md-2 col-form-label">Name</label>
                        <div class="controls col-md-10 p-r-20">
                            <input type="text" id="txtName" name="name" class="form-control" required data-parsley-error-message="Name is required">                           
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Category</label>
                        <div class="controls col-md-9  p-r-20">
                            <select id="category-select-2"  name="categorySelect"  class="form-control" required data-parsley-error-message="Please select category"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="controls col-md-3 col-form-label">Collection</label>
                        <div class="col-md-9  p-r-20">
                            <select id="collection-select-2" required name="collectionSelect" class="form-control" data-parsley-error-message="Please select collection"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Material</label>
                        <div class="controls col-md-9  p-r-20">
                            <select id="material-select" name="materialSelect" class="form-control" required  data-parsley-error-message="Please select material"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">Manufacturer</label>
                        <div class="controls col-md-8  p-r-20">
                            <select id="manufacturer-select" name="manufacturerSelect" class="form-control" required data-parsley-error-message="Please select manufacturer"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Color</label>
                        <div class="controls col-md-9  p-r-20">
                            <select id="color-select" name="colorSelect" class="form-control" required data-parsley-error-message="Please select color"></select>
                        </div>  
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label p-r-0">Length</label>
                        <div class="controls col-md-9">
                            <input type="text" name="lenght" id="txtLength" class="form-control" required data-parsley-type="number" data-parsley-error-message="Please input valid number"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label p-r-0">Height</label>
                        <div class="controls col-sm-9">
                            <input type="text" name="height" id="txtHeight" class="form-control" required data-parsley-type="number" data-parsley-error-message="Please input valid number"/>
                        </div>
                    </div>
                        <div class="form-group row">
                        <label class="col-sm-3 col-form-label p-r-0">Depth</label>
                        <div class="controls col-md-9">
                            <input type="text" name="depth" id="txtDepth" class="form-control" required data-parsley-type="number" data-parsley-error-message="Please input valid number" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Quantity</label>
                        <div class="col-md-9  p-r-20">
                            <input type="text" name="quantity" id="txtQuantity" class="form-control" data-parsley-type="integer" required data-parsley-error-message="Input valid quantity">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label no-padding">Original Price</label>
                        <div class="controls col-md-9 p-r-20">
                            <input type="text" name="originalPrice" id="txtOrginalPrice" class="form-control" required data-parsley-type="number" data-parsley-error-message="Please input valid number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label no-padding">Sell Price</label>
                        <div class="controls col-md-9 p-r-20">
                            <input type="text" name="price" id="txtPrice" class="form-control" required data-parsley-type="number" data-parsley-error-message="Please input valid number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label no-padding">Promotion Price</label>
                        <div class="controls col-md-9 p-r-20">
                            <input type="text" name="promotionPrice" id="txtPromotionPrice" class="form-control" data-parsley-type="number" data-parsley-error-message="Please input valid number">
                        </div>
                    </div>

                    <input type="checkbox" id="home-flag" class="chk-col-light-blue" />
                    <label for="home-flag">Home Flag</label>
                    <input type="checkbox" id="new-flag" class="chk-col-light-blue" />
                    <label for="new-flag">New Flag</label>
                    <input type="checkbox" id="hot-flag" class="chk-col-light-blue" />
                    <label for="hot-flag">Hot Flag</label>
                </div>
                <div class="modal-footer">
                    <button id="btn-save" class="btn btn-info waves-effect">Save</button>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                </div>
                </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>