@using Nevara.ApplicationCore.ViewModel
@model List<CategoryViewModel>
<div class="primary-menu">
    <nav>
        <ul class="primary-menu-list text-center">
            <li>
                <a asp-controller="Home" asp-action="Index">home</a>

            </li>
            <li>
                <a asp-controller="Home" asp-action="Categories" asp-route-id="1">furniture<i class="pe-7s-angle-down"></i></a>
                <!-- Mega Menu Start -->
                <ul class="ht-dropdown">
                    <!-- Single Mega Sub Menu Start -->
                    @foreach (var item in Model)
                    {
                    <li>
                        <a asp-controller="Home" asp-action="Categories" asp-route-id="@item.Id">@item.Name</a>
                    </li>

                    }
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                </ul>
                <!-- Mega Menu End -->
            </li>
            <li class="static-menu">
                <a href="#">decor<i class="pe-7s-angle-down"></i></a>
                <!-- Mega Menu Start -->
                <ul class="ht-dropdown mega-menu-2">
                    <!-- Single Mega Sub Menu Start -->
                    <li>
                        <h3>Art Gallery</h3>
                        <ul>
                            <li><a href="categorie-page.html">congue nonorna</a></li>
                            <li><a href="categorie-page.html">Etiam sapien</a></li>
                            <li><a href="categorie-page.html">Outdoor Lighting</a></li>
                            <li><a href="categorie-page.html">sapien enim</a></li>
                        </ul>
                    </li>
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                    <li>
                        <h3>Lighting</h3>
                        <ul>
                            <li><a href="categorie-page.html">commodo nunc</a></li>
                            <li><a href="categorie-page.html">elementum dolor</a></li>
                            <li><a href="categorie-page.html">ligula velvenen</a></li>
                            <li><a href="categorie-page.html">Vestibulum tempor</a></li>
                        </ul>
                    </li>
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                    <li>
                        <h3>Rugs</h3>
                        <ul>
                            <li><a href="categorie-page.html">blandit vehicula</a></li>
                            <li><a href="categorie-page.html">Praesent molestie</a></li>
                            <li><a href="categorie-page.html">sagittis ipsum</a></li>
                            <li><a href="categorie-page.html">venenatis innunc</a></li>
                        </ul>
                    </li>
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                    <li>
                        <h3>Throw Pillows</h3>
                        <ul>
                            <li><a href="categorie-page.html">Fire Pits</a></li>
                            <li><a href="categorie-page.html">Garden Accents</a></li>
                            <li><a href="categorie-page.html">Outdoor Fountains</a></li>
                            <li><a href="categorie-page.html">Patio Heaters</a></li>
                        </ul>
                    </li>
                    <!-- Single Mega Sub Menu Start -->
                </ul>
                <!-- Mega Menu End -->
            </li>
            <li>
                <a href="#">pages<i class="pe-7s-angle-down"></i></a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown">
                    <li><a href="categorie-page.html">shop</a></li>
                    <li><a href="product-page.html">Product Details</a></li>
                    <li><a href="cart.html">cart</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="wish-list.html">wish list</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="blog-details.html">blog details</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
                <!-- Home Version Dropdown End -->
            </li>
            <li><a href="about-us.html">about us</a></li>
        </ul>
    </nav>
</div>