
@model NavViewModel
<div class="primary-menu">
    <nav>
        <ul class="primary-menu-list text-center">
            <li>
                <a asp-controller="Home" asp-action="Index">home</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Categories" asp-route-id="1">furniture<i class="pe-7s-angle-down"></i></a>
                <!-- Mega Menu Start -->
                <ul class="ht-dropdown">
                    <!-- Single Mega Sub Menu Start -->
                    @foreach (var item in Model.Categories)
                    {
                    <li>
                        <a asp-controller="Home" asp-action="Categories" asp-route-id="@item.Id">@item.Name</a>
                    </li>
                    }
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                    <!-- Single Mega Sub Menu Start -->
                </ul>
                <!-- Mega Menu End -->
            </li>

            <li>
                <a asp-controller="Home" asp-action="Collections" asp-route-id="1">Collection<i class="pe-7s-angle-down"></i></a>
                <!-- Home Version Dropdown Start -->
                <ul class="ht-dropdown">
                    @foreach (var item in Model.Collections)
                    {
                        <li>
                            <a asp-controller="Home" asp-action="Collections" asp-route-id="@item.Id">@item.CollectionName</a>                        
                        </li>
                    }
                </ul>                
            </li>     
        </ul>
    </nav>
</div>